@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.dashboard {
    padding: 0.5% 10%;
}

.box {
    width: 75vw;
    height: 35vh;
    background-color: #907bc2;
    border-radius: 2%/10%;
    margin: 4vh 0;
    display: flex;
    justify-content: space-between;
    font-family: "Barlow Condensed", sans-serif;
    padding: 2vh 10vh;
}

.buttons {
    background-color: #ae98e1;
    padding: 0.75% 1.5% 0.75% 1.5%;
    border-color: transparent;
    font-size: 1.2vw;
    font-weight: 500;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    color: black;
    margin: 4vh 0;
    transition: ease 0.3s, box-shadow 0.3s ease;
}

.buttons:hover {
    box-shadow: 0px 10px 15px 1px rgba(174, 152, 225, 0.495);
    transform: translateY(-5px);
    cursor: pointer;
}

.buttonsflex {
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
}

.box {
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box .title {
    font-size: 1.8vw;
}

.box .text {
    font-size: 1.5vw;
}

.box img {
    height: 25vh;
}
