@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container{
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
}

.firstin{
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 60%;
    text-align: center;
    border-radius: 25px;
    background-color: #0f0820;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.uploaddiv{
    margin: 3%;
    border-radius: 25px;
    border : 3px dashed #ae98e1ac;
    width: 94%;
}

.firstout{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.dragarea{
    min-height: 28vh;
}

.dragarea:hover{
    cursor: pointer;
    background-color: #080316;
}

.dragtag{
    font-size: 1.6rem;
    margin-top: 3%;
}

.draginfo{
    font-size: 0.9rem;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

.svgimg{
    min-height: 2vh;
    width: 100%;
    color: #ae98e1;
}

.error{
    border-radius: 25px;
    background-color: #080316;
    width: 94%;
    font-size: 1.6rem;
    text-align: left;
    height: 10vh;
    margin-bottom: 3%;
    padding: 2%;
}

.fileinfo{
    border-radius: 25px;
    background-color: #080316;
    width: 94%;
    font-size: 1rem;
    text-align: left;
    transition: height 10s ease;
    height: 10vh;
    padding: 2%;
    margin-bottom: 3%;
}

.secondout{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.secondin{
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    background-color: #0f0820;
    width: 40vw;
    padding: 2%;
    border-radius: 25px;
}

.loadtext{
    font-size: 1.4rem;
    text-align: center;
    margin-left: 2%;
}

.loader{
    padding: 2%;
}

.thirdout{
    height: 80vh;
    overflow-y: hidden;
    min-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.thirdouter{
    height: 100vh;
    overflow-y: hidden;
    min-width: 100vw;    
}

.thirdin{
    height: 55vh;
    width: 30%;
    background-color: #0f0820;
    border-radius: 25px;
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 1% 2% 2% 2%;
    overflow-y: hidden;
}

.thirdhead{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.thirdtext{
    max-height: 43vh;
    font-size: 1.3rem;
    margin-top: 5%;
    overflow-y: auto;
}

.btncontianer{
    display: flex;
    justify-content: flex-end;
    padding: 0.3% 1% 1% 0;
    margin-right: 10%;
    align-items: start;
}

.buttons{
    background-color: #ae98e1;
    padding: 0.75% 1.5% 0.75% 1.5%;
    border-color: transparent;
    font-size: medium;
    font-weight: 500;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-left: 2%;
    transition: ease 0.3s, box-shadow 0.3s ease;
}

.buttons:hover{
    box-shadow: 0px 10px 15px 1px rgba(174, 152, 225, 0.495);
    transform: translateY(-5px);
    cursor: pointer;
}


@media (orientation:portrait){
    .firstin{
        width: 85%;
    }
    
    .uploaddiv{
        padding: 8% 6%;
    }

    .draginfo{
        font-size: 3.5vw;
    }

    .dragtag{
        font-size: 5vw;
        padding-bottom: 0.5vh;
    }
}