@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.container {
    position: relative;
    min-height: 250vh;
    min-width: 100vw;
    overflow-y: auto;
    background: url('final.svg') no-repeat;
    background-size: cover;
}

.title {
    position: relative;
    z-index: 3;
    margin: 0;
    color: #a3b1eb;
    font-size: 6rem;
    margin-top: 16%;
    margin-left: 35%;
    font-family: 'Barlow Condensed' , sans-serif;
}

.tagline {
    position: relative;
    z-index: 3;
    margin: 0;
    color: #a3b1eb;
    font-size: 1.5rem;
    margin-left: 27%;
    font-family: 'Montserrat', sans-serif;
}

.aboutus {
    position: relative;
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 20%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.abouttxt {
    position: relative;
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 5%;
    width: 30%;
}

.testedtxt {
    position: relative;
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 5%;
}


.steps{
    position: relative;
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 5.5%;
    width: 30%;
}

.stepsdiv{
    width: 70%;
    min-height: 60vh;
    margin-top: 5%;
    margin-left: 5.5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.stepimg{
    background-color: aqua;
    width: 90%;
    min-height: 40vh;
    margin-left: 3%;
}

.steptxt{
    color: #a3b1eb;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    width: 90%;
    margin-left: 3%;
    margin-top: 5%;
}

